<div class="popup-extension-123213">
  {{ settings.popup_text | escape }}
  <br>
  <h1 class="popup-title-text-123213">{{ block.settings.title_text }}</h1>
  <div class="popup-text-123213">
  <p>{{ block.settings.info_popup_text_line_1 }}</p>
  <p>{{ block.settings.info_popup_text_line_2 }}</p>
</div>
  <button class="close-popup-extension-123213" onclick="closePopup()">
      <img src="{{ 'close.svg' | asset_url }}" alt="Close" class="close-icon" height="20" width="20">
  </button>
</div>


<style>
.popup-extension-123213 {
  /* Add your popup styling here */
  width: 80%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  background-color: {{ block.settings.background }}; 
  color: {{ block.settings.text_color }};
}
.popup-title-text-123213 {
  font-size: 24px !important;
  font-weight: bold;
  margin-bottom: 10px;
  color: currentColor;
}
.popup-text-123213 {
  font-size: 20px !important;
  text-align: left;
  color: currentColor;
}
.close-popup-extension-123213 {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
</style>

{% schema %}
{
"name": "Info Popup",
"target": "section",


"settings": [
  {
    "type": "text",
    "id": "title_text",
    "label": "Title",
    "default": "Info Popup"
  },
  {
    "type": "textarea",
    "id": "info_popup_text_line_1",
    "label": "Line 1",
    "default": "Info Popup"
  },
  {
    "type": "textarea",
    "id": "info_popup_text_line_2",
    "label": "Line 2",
    "default": "Info Popup"
  },
  {
    "type": "color",
    "id": "background",
    "label": "Background Color",
    "default": "#A8B9DC"
  },
  {
    "type": "color",
    "id": "text_color",
    "label": "Text Color",
    "default": "#ffffff"
  }
]
}
{% endschema %}

<script>
function closePopup() {
  document.querySelector('.popup-extension-123213').style.display = 'none';
}

</script>